<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359677582064-ihtlf9dd4fh1q0ltasukof2l0av9fo9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359677582064-ihtlf9dd4fh1q0ltasukof2l0av9fo9v</string>
	<key>API_KEY</key>
	<string>AIzaSyDOAx8Wto-JdhIRxlLNlVjJJe5-iE2MYdo</string>
	<key>GCM_SENDER_ID</key>
	<string>359677582064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginApp</string>
	<key>PROJECT_ID</key>
	<string>email-login-andy</string>
	<key>STORAGE_BUCKET</key>
	<string>email-login-andy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359677582064:ios:cc8b803e31072aa87b8035</string>
	<key>DATABASE_URL</key>
	<string>https://email-login-andy.firebaseio.com</string>
</dict>
</plist>